@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root {
	--grey-primary: #eceef1;
	--grey-secondary: #d8dee7;
	--blue-primary: #023168;
	--black-primary: #333333;
	--white-primary: #ffffff;
	--grey-text: #82878d;
	--grey-scrollbar: #c7cdd8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

html {
	background-color: var(--blue-primary);
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--grey-scrollbar);
	border-radius: 8px;
}
